<header>
    <h1>ASMR video maker</h1>
    <p>...create your own unique ASMR experience</p>
</header>

<video id="my-player" width="210" height="390 " class="video-js vjs-theme-fantasy" controls preload="auto" playsinline>
    <source src="assets/videos/video1.mp4" type="video/mp4" />
</video>


<ul class='circle-container'>
    <li><img src='http://lorempixel.com/100/100/nature'></li>
    <li><img src='http://lorempixel.com/100/100/abstract'></li>
    <li><img src='http://lorempixel.com/100/100/cats'></li>
    <li><img src='http://lorempixel.com/100/100/food'></li>
    <li><img src='http://lorempixel.com/100/100/animals'></li>
    <li><img src='http://lorempixel.com/100/100/business'></li>
    <li><video id="central-player" width="120" height="120 " class="video-js vjs-theme-fantasy" controls preload="auto"
            playsinline>
            <source src="assets/videos/video1.mp4" type="video/mp4" />
        </video>
    </li>
</ul>