<header>
    <h1>ASMR video maker</h1>
    <p>...create your own unique ASMR experience</p>
</header>

<video id="my-player" width="210" height="390 " class="video-js vjs-theme-fantasy" controls preload="auto" playsinline>
    <source src="assets/videos/video1.mp4" type="video/mp4" />
</video>

{{!-- <LinkTo @route="about" class="button">About Us</LinkTo> --}}

<div class="carousel">
<BsCarousel as |vid|>
    <vid.slide>
        <video id="my-player" width="210" height="390 " class="video-js vjs-theme-fantasy" controls preload="auto"
            playsinline>
            <source src="assets/videos/video1.mp4" type="video/mp4" />
        </video>
        <div class="carousel-caption">
            
        </div>
    </vid.slide>
    <vid.slide>
        <video id="my-player" width="210" height="390 " class="video-js vjs-theme-fantasy" controls preload="auto"
            playsinline>
            <source src="assets/videos/video1.mp4" type="video/mp4" />
        </video>
        <div class="carousel-caption">
            
        </div>
    </vid.slide>
</BsCarousel>
</div>


<ul class='circle-container'>
    <li><img src='assets/images/background2.jpg'></li>
    <li><img src='assets/images/background2.jpg'></li>
    <li><img src='assets/images/background2.jpg'></li>
    <li><img src='assets/images/background2.jpg'></li>
    <li><img src='assets/images/background2.jpg'></li>
    <li><img src='assets/images/background2.jpg'></li>
    <li><video id="central-player" width="120" height="120 " class="video-js vjs-theme-fantasy" controls preload="auto"
            playsinline>
            <source src="assets/videos/video1.mp4" type="video/mp4" />
        </video>
    </li>
</ul>

